* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
}
body {
    /* Tag Selector */
    background-color: #ffffffae;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
h1 {
    /* Tag Selector */
    color: #033a71;
    margin-bottom: 20px;
}
h2 {
    /* Tag Selector */
    color: #470499;
    margin-bottom: 15px;
}
table {
    width: 100%;
    border: 5px solid #033a71;
    border-collapse: separate;
    border-spacing: 0 10px;
    border-color: #ff0707;
    padding: 25px;
    margin-bottom: 20px;
}